BasedOnStyle: LLVM
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 120
IndentCaseLabels: true
IndentWidth: 4
PointerAlignment: Left
UseTab: Never
